<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>. 

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Palatino+Linotype:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QBEQDQB23E"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-QBEQDQB23E');
  </script>

</head>



<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Ayomide Owoyemi
              </h1>
              <p>Ayomide’s background is in Medicine, public health, digital health and product management. 
                He has had experience working as a clinician and public health physician in Nigeria. 
                He worked as a consultant on a global fund project for HIV care and management. He has also built different digital health products for Nigeria and other African countries. 
                He led the team that built the first COVID triage tool in Africa, and the first AI-based recommendation system for health insurance in Nigeria.
                He also worked with Boston Consulting Group as a Product Manager. He is presently rounding up a PhD in health informatics at the University of Illinois at Chicago with a focus on AI/ML applications in healthcare.

              </p>
              
              <p> Skills: Python programming, SAS Programming, SQL
              </p>
              <p style="text-align:center">
                <a href="https://github.com/Ayomidejoe">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=_JpRhwYAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/ayomide-owoyemi/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile_pic.png">
            </td>
          </tr>
        </table>
        <br>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>Education</b></h2>
              <ul>
                <li> Doctor of Philosophy Candidate, Biomedical and Health Informatics, University of Illinois at Chicago (2024)</li>
                <li> Master of Science in Public Health, University of Lagos, Akoka, Nigeria (2017)</li>
                <li> Bachelor of Medicine, Bachelor of Surgery, Obafemi Awolowo University, Ile – Ife, Nigeria (2012)</li>
              </ul>
            </td>
          </tr>
        </table>
        
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
        <tr>
          <td style="padding:2.5%;width:100%;vertical-align:middle">
            <h2 style="color:#DF7401;"> <b>Work Experience</b></h2>
            
            <ul>
            <p><strong>University of Illinois at Chicago, Department of Biomedical and Health Informatics, </strong><span style="font-weight: 400;">Graduate Research Assistant | </span><em><span style="font-weight: 400;">September 2019 &ndash;Present</span></em></p>
            <ul>
            </ul>
            <hr>
            <p><strong>Boston Consulting Group, </strong><em><span style="font-weight: 400;">Product Management Intern | </span></em><em><span style="font-weight: 400;">June 2023- August 2023 </span></em><strong>&nbsp;</strong></p>
            <ul>
            </ul>
            <hr>
            <p><strong>Virufy, </strong><em><span style="font-weight: 400;">Clinical and Informatics Consultant (Volunteer) | </span></em><em><span style="font-weight: 400;">May 2021- Present </span></em><strong>&nbsp;</strong></p>
            <ul>
            </ul>
            <hr>
            <p><strong>The Wellviser Company (www.wellvis.org), </strong><em><span style="font-weight: 400;">Co-founder & Director of Operations | </span></em><em><span style="font-weight: 400;">January 2017- February 2022 </span></em><strong>&nbsp;</strong></p>
            <ul>
            </ul>
            <hr>
            <p><strong>APIN Public Health Initiatives, </strong><em><span style="font-weight: 400;">Technical Associate | </span></em><em><span style="font-weight: 400;">February 2017- June 2019 </span></em><strong>&nbsp;</strong></p>
            <ul>
            </ul>
            <hr>
            <p><strong>Orile-Agege Primary Health Centre, <em><span style="font-weight: 400;">Medical Officer</span></em></strong><strong>&nbsp;<em><span style="font-weight: 400;">| </span></em><em><span style="font-weight: 400;">February 2015 - October 2015 </span></em>&nbsp;</strong></p>
            <ul>
            </ul>
            <hr>
            <p><strong>State Specialist Hospital, <em><span style="font-weight: 400;">Pre-registration House Officer</span></em></strong><strong> <em><span style="font-weight: 400;">| </span></em><em><span style="font-weight: 400;">September 2013 - October 2014&nbsp;</span></em></strong></p>
            <ul>
            </ul>
          </td>
        </tr>
      </table>             
        
         <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>Selected Publications</b></h2>
              <ul>
                <li> Owoyemi A. et al. (2023) Machine Learning Recommendation System for Health Insurance Decision Making. (Arvix)</li>
                
                <li> Owoyemi A. et al. (2022) An Assessment of Systemic Factors and COVID-19 Mortality in Africa. Int J Public Health.</li>
                
                <li> Owoyemi A. et al. (2022) Importance of Community-Level Interventions During the COVID-19 Pandemic: Lessons from Sub-Saharan Africa. The American Journal of Tropical Medicine and Hygiene.</li>
                
                <li> Owoyemi A. et al. (2022) Digital Solutions for Community and Primary Health Workers: Lessons from Implementations in Africa. Frontiers in Digital Health.</li>
                
                <li> Owoyemi A., Osiyemi A., Owoyemi J., Boyd A. (2021) AIM for Healthcare in Africa. In: Lidströmer N., Ashrafian H. (eds) Artificial Intelligence in Medicine. Springer, Cham.</li>
                
                <li> Owoyemi A., Oyewusi W. (2021) AIM and Hackathon Events. In: Lidströmer N., Ashrafian H. (eds) Artificial Intelligence in Medicine. Springer, Cham.</li>
                
                <li> Owoyemi, Ayomide et al. 2021. “Mobile Health Approaches to Disease Surveillance in Africa; Wellvis COVID Triage Tool.” Digital Health.</li>
                
                <li> Owoyemi A, Owoyemi J, Adenekan O, and Boyd A. 2020. “Artificial Intelligence for Healthcare in Africa.” Frontiers in Digital Health 2.</li>
                
                <li> Kitsiou S, Gerber B, Buchholz S, Kansal M, Chen J, Nawrocki L, Leigh J, Nieto A, Owoyemi A, Pressler S. Development, and pilot testing of a tailored text messaging intervention to improve self-care efficacy and health beliefs about self-care in people with heart failure. Journal of Cardiac Failure. 2020 October 01; 26(10):s89.</li>
                
                <li> Amaechi, Uchenna Anderson et al. 2020. “Social Approaches to COVID-19 Pandemic Response: Effectiveness and Practicality in Sub-Saharan Africa.” The Pan African Medical Journal 37(2).</li>
                
                <li> Nnaji, C. A., Owoyemi, A. J., Amaechi, U. A., Wiyeh, A. B., Ndwandwe, D. E., &amp; Wiysonge, C. S. (2020). Taking stock of global immunization coverage progress: The gains, the losses, and the journey ahead. International Health.</li>
                
                <li> Owoyemi A. J & Ladi-Akinyemi T.W. (2017) Health Seeking Behavior for Infants by caregivers in a Semi-Urban Area of Lagos State, Nigeria. Nigerian Journal of Health Sciences. 2017; 17(1):14-9.</li>
                
                <li> Owoyemi A.J (2017). Combating Cervical Cancer in Nigeria. IFEMED Journal, Obafemi Awolowo University Ife. 2017; 22(1):69 – 70</li>
                
                <li> Owoyemi A.J (2017). Harnessing the Demographic Dividend through Investments in the Health of Youths. African Union Echo 2017; Issue 1:73 – 75.</li>
                
                <li> Owoyemi J.M, Falemara B.C and Owoyemi A. J. (2016) Noise Pollution and Control in Mechanical Processing Wood Industries. International Journal of Environmental Research and Public Health.)</li>
              </ul>
            </td>
          </tr>
        </table>
               <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>Projects</b></h2>
              <ul>
                <a href="https://github.com/nuel-emeka/Arteri-recommender"> A Recommender System to Support Health Insurance Selection in Nigeria </a> 
                </p>
                <a href="https://www.un.org/africarenewal/magazine/june-2020/coronavirus/nigerian-digital-healthcare-startup-helps-triage-covid-19-cases"> COVID-19 Triage tool </a>
                </p>
                <a href="https://github.com/Ayomidejoe/OpenSourceCollective"> Open Source AI Collective </a>
              <ul>
            </td>
          </tr>
        </table>
        
           <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2 style="color:#DF7401;"> <b>Certificates</b></h2>
              <ul>
                <li> Applied Machine Learning, LinkedIn Learning (2021)</li>
                <li> Programming for Everybody (Getting Started with Python) by University of Michigan on Coursera (2019)</li>
                <li> Project Management in Health, University of Washington, USA (2019)</li>
                <li> Leadership and Management in Health, University of Washington, USA (2017)</li>
                <li> Health Financing Policy for Universal Health Coverage, World Health Organisation (2017)</li>
                <li> Introduction to Mobile Technology for Health, Global Health eLearning Centre (2016)</li>
              </ul>
            </td>
          </tr>
        </table>

        <p>&nbsp;</p>
       
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's</a>
                and <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's</a> websites
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
